@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-900 text-white min-h-screen overflow-x-hidden;
  }
}

@keyframes gradient-xy {
    0%, 100% {
        background-size: 400% 400%;
        background-position: 0% 50%;
    }
    50% {
        background-size: 200% 200%;
        background-position: 100% 50%;
    }
}
.animate-gradient-xy {
    animation: gradient-xy 15s ease infinite;
}
